<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RestApps</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0"/>
  <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
  <a href="#content" class="skip-link">Skip to content ?</a>
  <header>
    <nav class="navbar">
      <ul>
        <li class="navbar-logo"><span class="material-symbols-outlined" aria-label="Logo RestApps" style="color: #EB7C6A;">
          egg_alt
          </span><a href="#">RestApps</a></li>
        <li class="navbar-toggle"><a href="#" aria-label="navigation-menu"><i class='fas fa-bars'></i></a></li>
        <li class="navbar-links"><a href="/">Home</a></li>
        <li class="navbar-links"><a href="#">Favorite</a></li>
        <li class="navbar-links"><a href="https://github.com/Anisaftr18">About us</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero">
    <div class="hero_inner">
      <h1 class="hero_title">Find the best restaurants in the country</h1>
      <p class="hero_tagline">Find the best restaurants in the country, based on customer ratings and descriptions.</p>
    </div>
  </div>
  <main>
    <section class="content" id="content">
      <div class="latest">
        <h1 class="latest_label">Find your best restaurant</h1>
        <div class="posts">
          <div class="resto" id="restolist"> </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p>© 2022 RestApps. All rights reserved<br>create by Anisa Fitrianida</p>
              <ul class="sosmed">
                  <li>
                      <a href="https://www.instagram.com/anisaftr.18/" target="_blank" aria-label="instagram"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                      <a href="https://www.instagram.com/anisaftr.18/" target="_blank" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/nissa.fitrianida/" target="_blank" aria-label="facebook"><i class="fab fa-facebook"></i></i></a>
                  </li>
                  <li>
                      <a href="https://www.youtube.com/channel/UCR4XM5TL6of3eSZEBix1vBw" target="_blank" aria-label="youtube"><i class="fab fa-youtube"></i></a>
                  </li>
              </ul>
</footer>
</body>
</html>
